.main-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;

}

button {

    margin-left: 5px;
}

.table-actions {
    
    width: 150px;
}

.space-panel {
    padding-top: 1%;
}

.new-student {
    background-color: orangered !important;
    border-color: orangered;
}

.reset-margem-left {
    margin-left: 0;
    padding-left: 0;
}