html,
body,
#app {
    height: 100% !important;
}

.main-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.discount-footer {
    position: fixed;
    bottom: 0px;
    left: 25%;
    background-color: #D9EDF7;
    padding: 1em;
    margin: 0 auto;
}

.student-panel .panel-heading {
    height: 1.4em;
    position: relative;
    padding: 0px;
}

.student-panel .panel-heading>.row {
    vertical-align: top;

}
.student-panel .anterior {
    width: 50%;
}

.student-panel .panel-body {
    padding: 0px
}

.student-panel {
    padding: 0px
}

.student-panel .md-selection-control-container {
    position: absolute;
    top: -60%;
    left: -10%;
}

.student-panel .table.table-striped {
    margin-bottom: 0px;
    font-size: 0.9em
}



.panel.menu-panel {
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.panel-default.panel-cnec .panel-heading {
    background-color: #FEE64D;
}

.panel-default.panel-cnec .panel-heading h1 {
    font-family: 'Roboto';
    text-align: center
}

button {

    margin-left: 5px;
}

.table-actions {

    width: 150px;
}

.space-panel {
    padding-top: 1%;
}

.new-student {
    background-color: orangered !important;
    border-color: orangered;
}

.reset-margem-left {
    margin-left: 0;
    padding-left: 0;
}