.wrapper {
  height: 100%;

}

.gradient-wrapper {
  background-color: #fff !important;
  background: linear-gradient(0deg, rgb(46, 130, 226) 0%, rgb(49, 102, 218) 50%, rgb(0, 174, 209) 100%);
  font-family: 'Roboto';
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-box-body {  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

}
.panel-default.panel-cnec .panel-heading{
  background-color: #FEE64D;
}
.panel-default.panel-cnec .panel-heading h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-align: center
}
.login-box-body button {
  position: relative;
  
}

.login-box button {
  margin-left: 0px;
}

.login-box a:hover {
  cursor: pointer;
}

.logo-cnec {
  width: 100px;
  height: 120px;
}